DB_HOST=localhost
DB_PORT=5432
DB_NAME=clinicpro_db
DB_USERNAME=clinicpro_user
DB_PASSWORD=clinicpro_pass
JPA_DDL_AUTO=update

POSTGRES_DB=clinicpro_db
POSTGRES_USER=clinicpro_user
POSTGRES_PASSWORD=clinicpro_pass
POSTGRES_HOST_PORT=5432

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRATION_MS=86400000
SERVER_PORT=8080
